/* CSS - Cascading Style Sheets*/
:root {
    /* variáveis css*/
    --color-background: #F0F0F7; 
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary:  #7c06a3;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #774DD6;
    --color-secondary-dark: #774DD6;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /* tamanho da fonte padrão: 16px - 100% - 1rem */
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh; /* height = altura */
}

body {
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}


body,
input,
button,
textarea {
    /* font: 500 1.6rem Poppins; */
    font-weight: 500;
    font-family: Roboto;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

#container {
    width: 90vw; /* width = largura */
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /* todo 1rem vai ser relativo a 10px */
    }
}

.botaosair{
	display: block;
	width: 10%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #bd0ee9;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
    transition: .5s;
    margin-left: 1140px;
    margin-top: 30px;
}

.botaosair:hover{
    background-position: right;
    color: #7c06a3;
    background-color: #fff;
    border: 1px solid #7c06a3;
  }
